.footer {
    display: flex;
    justify-content: space-around;
    background: rgba(217, 217, 217, 0.70);
    padding: 20px;
}

.blockPartner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}

.partner {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: small-caps;
}

.partner_name {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
}


@media (max-width: 425px) {
    .image {
        width: 150px;
    }
}

@media (max-width: 320px) {
    .image {
        width: 100px;
    }
}

