.container {
    margin-left: 90px;
    margin-right: 50px;
    margin-top: 40px;
    box-sizing: border-box;

}

.group_info {
    display: flex;
    justify-content: space-between;
}

.text {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trebovania {

}
